@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

h1 {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 14px;
}
#video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.body {
    top: 40px;
    margin-top: 14rem;
    background-color: #e7e6cd;
    font-family: "Nunito", sans-serif;
    z-index: 2;
    background-color: #fff;
}
.card {
    margin: 2rem;
}
